<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80285202949-6840ul3ntfnmgqmoospcjpc009p51iea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80285202949-6840ul3ntfnmgqmoospcjpc009p51iea</string>
	<key>API_KEY</key>
	<string>AIzaSyAqcWGQIFiKXJKvfrsKrE54mPSuZbbTyxI</string>
	<key>GCM_SENDER_ID</key>
	<string>80285202949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPoc</string>
	<key>PROJECT_ID</key>
	<string>flutterapps-f8045</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapps-f8045.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80285202949:ios:d92918513a81a22c8cfa6c</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapps-f8045.firebaseio.com</string>
</dict>
</plist>